#buscador{
    height: 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

table {
	font-size: 1em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}


.modal-login {		
	color: #ffffff;
	width: 400px;
	margin: 150px auto 0;
}


.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
    border: none;
    height: 520px;
    width: 400px;
    background-color: #070720;
}

.modal-login .modal-header {
	border-bottom: none;   
    position: relative;
    justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}

.modal-login .close {
    position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-login .modal-footer {
	background: #0e0e33;
	border-color: #0e0e33;
	text-align: center;
    justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #FFF;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #e53637;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login .btn {
    color: #fff;
    border-radius: 4px;
	background: #e53637;
	text-decoration: none;
	transition: all 0.4s;
    line-height: normal;
    border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #e05353;
	outline: none;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}